.enter-animation {
  animation: slide-fade 0.2s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translate(-26px, -26px);
    /* transform: translateX(26px); */
    rotate: -5deg
  }
  to {
    opacity: 1;
    transform:  translate(0, 0);
    /* transform: translateX(0); */
    rotate: 0deg;
  }
}